.mainBlock {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
}
html, body{
    overflow-x: hidden;
}
.skills svg, #hobbies svg, .ghBlock svg, .pdfBtn svg{
    transition: all ease .5s;
    transform: scale(1);
}
.skills svg:hover, #hobbies .card-body svg:hover, .ghBlock svg:hover, .pdfBtn svg:hover{
    transition: all ease .5s;
    transform: scale(1.2);
}
.skillsIcons{
    font-size: 1.6rem;
}
#hobbies .card-body svg{
    font-size: 1.5rem;
}
.photo{
    background-image: url('https://cdn5.f-cdn.com/ppic/157164508/logo/46624288/yucsO/profile_logo_JCERZ_ecebbecf28c2692aeb021597fbddb174.jpg'););
    background-size: cover;
    background-position-x: 5px;
    background-position-y: 0px;
    border: 3px solid #dee2e6;
    height: 150px;
    width: 150px;
    border-radius: 100%
}
.pdfBtn, .linkBtn{
    position: absolute;
    z-index: 1;
    right: 15px;
    top: 5px;
    font-size: 1.5rem;
    cursor: pointer;
}
.linkBtn{
    display: none;
}
.angleBlock {
    border-style: inset;
    border-width: 80px 80px 0 0;
    border-color: #20c997 transparent  transparent  transparent;
    position: absolute;
    top: 0;
    z-index: 1;
}

.ghBlock span{
    position: absolute;
    top: 0;
    z-index: 2;
    font-size: 2rem;
    left: 10px;
}
.ghBlock{
    z-index: 1;
}