.mainBlock {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
}
html, body{
    overflow-x: hidden;
}
.skills svg, #hobbies svg{
    transition: all ease .5s;
    transform: scale(1);
}
.skills svg:hover, #hobbies .card-body svg:hover{
    transition: all ease .5s;
    transform: scale(1.2);
}
.skillsIcons{
    font-size: 1.6rem;
}
#hobbies .card-body svg{
    font-size: 1.5rem;
}
.photo{
    background-image: url('https://cdn6.f-cdn.com/ppic/157162918/logo/46624288/vDk6j/profile_logo_KYLIK_ecebbecf28c2692aeb021597fbddb174.jpg'););
    background-size: cover;
    background-position-x: 5px;
    background-position-y: 0px;
    border: 3px solid #dee2e6;
    height: 150px;
    width: 150px;
    border-radius: 100%
}